
<div id="vvod-k-profilu">
<h1>Введите ваши данные </h1>
@using(Html.BeginForm("Vvod_Dlya_AllInformation","Main"))
{
    <label>Введите  ваш email</label><br/>
    <input type="text" id="name" name="name" required="required"/><br/>
    <label>Введите ваш пароль</label><br/>
    <input type="text" id="parol" name="parol"><br/>
    <input type="submit" value="ввод">
}
</div>


