<div class="menu_admina" style=" background: #DBD9DD;">
    <ul>
        <li>@Html.ActionLink("Все участники", "ItIsMeAll", "Main")</li>
        <li>@Html.ActionLink("Управление видое", "Admin_Manager_Video", "Main")</li>
        <li>@Html.ActionLink("Управление репутацией", "Patrol_manage_reputation", "Main")</li>
    </ul>
</div>