<div class="menu_admina" style=" background: #DBD9DD;">
    <ul>
        <li>@Html.ActionLink("Управление приютами", "Admin_Shelters", "Main")</li>
        <li>@Html.ActionLink("Просмотр заявок от пользователей","ZayavkiOtPolzovateleyKPriutam","Main")</li>
    </ul>
</div>
