 <div id="div-index">
<h1>Привитствую тебя, друг!</h1>
    <div id="div-index-vlozh">
        <p>Добро пожаловать в Пушистое сообщество</p>
        <p>Доступные команды находятся внизу</p>
        <p>Что бы найти человека по ID, нажми на лупу</p>
        <p>Что бы посмотреть новости от пользователей нажми на влкадку "НОВОСТИ" вверху</p>
    </div>
</div>

