@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
<h1>Ваша заявка успешно отправлена</h1>
<ul>
    <li>@Html.ActionLink("Посмотреть свои заявки связанные с приютами", "Help_text", "Main")</li>
</ul>