
<div>
    @using (Html.BeginForm("VhodPoRolAdmina", "Main"))
    {
        <label>Введите роль администратора</label><br />
        <input type="text" name="NameRolAdmin" id="NameRolAdmin"><br />
        <label>Введите пароль для этого вида администратора</label><br />
        <input type="password" name="ParolRolAdmin" id="ParolRolAdmin"><br />
        <input type="submit" value="Войти">
    }
</div>
@{ 

    if (ViewBag.oshibka == "Вы ввели неправильные данные") 
    {
        <br/>
        <h2>Вы ввели неправильные данные!</h2>
        ViewBag.oshibka = null;
    }

    }
